body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #007bff, #28a745);
  margin: 0;
}

.slaptazodzio-kurejas {
  text-align: center;
  background: white;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.parinktys {
  text-align: left;
  margin-bottom: 20px;
}

.parinktys label {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="number"], input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}

#generuoti {
  font-family: 'Roboto', sans-serif;
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

#generuoti:hover {
  background: #0056b3;
  transform: scale(1.05);
}

.rezultatas {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#slaptazodis {
  width: calc(70% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

#kopijuoti {
  font-family: 'Roboto', sans-serif;
  background: #29b6f6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

#kopijuoti:hover {
  background: #0288d1;
  transform: scale(1.05);
}
